@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Krona+One&display=swap');


body {
    background: url("background-min.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
}

#title {
    font-family: 'Krona One', sans-serif;
}

#mainContainer {
    width: 80%;
    backdrop-filter: blur(1rem);
    background-color: #207b587F;
}

#accordion {
    width: 99.9%;
    --bs-accordion-border-color: rgba(0,0,0,0.01);
    --bs-accordion-active-bg: #207b587FF;
    --bs-accordion-active-color: white;
}

.accordion-item, .accordion-button, .accordion-collapse,.accordion-body {
    background-color: rgba(0,0,0,0.01);
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }